/* Basic Styling */

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* Heading Part */

header{
    width: 100%;
    height: 16vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#1e88e5;
    border-bottom:.2rem solid #045daa;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    height: 10vh;
}

.logo-img{
    padding: 10px 15px;
    height: 100px;
    width: 200px;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    cursor: pointer;
}

/* If needed add transition on logo */
.logo-img:hover{
    transition: 0.5s ease-in-out;
    /* color:rgb(255, 255, 255); */
    box-shadow: rgb(226, 230, 235) 0px 20px 30px -10px;
}

.navbar{
    width: 25%;
    color:white;
}

.navbar ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar ul li{
    list-style: none;
    padding: .5rem 1rem;
    margin-left:.7rem;
    border: 2px solid white;
    border-radius: 10px;
    letter-spacing: 1px;
    background-color:#1877F2;
}

.navbar ul li:hover{
    transition: 0.5s ease-in;
    background-color: #03a9f4;
    cursor: pointer;
    border-radius: 0px;
}

.navbar ul li a{
    text-decoration: none;
    color:white;
}
main{
    height: 74vh;
}
/* Section Part */
.content{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    margin:auto;
    background-color: #EBF9FE;
}

#project{
    width: 90%;
    margin: 20px;
    padding: 1.1rem .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.project{
    width:60%;
    height: 28vh;
    background-color: #03a9f4;
    margin: 20px;
    padding: .5rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    line-height: 1.6rem;
    text-align: center;
    color: white;
    letter-spacing: 1px
}

.project-text{
    font-family: 'Roboto', sans-serif;
    line-height: 1.9rem;
}

.project-text h3{
    font-size:1.3rem;
}
.project-text p{
    font-size:1.1rem;
}

.project-btn{
    width: 80%;
    padding:.5rem;
    display: flex;
    justify-content: space-evenly;
}

#btn-project{
    background-color: transparent;
    border:2px solid white;
    border-radius: 5px;
    cursor: pointer;
    margin:auto .5rem;
    width: 60%;
    padding:.5rem 2rem;
    font-size: 1rem;
    color:white;
    text-align: center;
    text-decoration: none;
}

#btn-project:hover{
        transition: 1s ease;
        color:white;
        border:2px solid white;
        background-color: #1877F2;
        cursor: pointer;
        border-radius:0px;
}

/* FOOTER PART */

#footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:100%;
    height: 10vh;
    background-color: rgb(0, 126, 229,0.8);
    bottom:0;
}
.footer-content{
    display: flex;
    width: 80%;
    justify-content: space-around;
    align-items: center;
}

.copyrights{
    font-weight: 900;
    font-size: 1.2rem;
    color:white;
    letter-spacing: 0.5px;
    font-family: 'Quicksand', sans-serif;
}

.links{
    display: flex;
    justify-items: center;
    align-items: center;
}

.links li{
    list-style: none;
    padding: 5px 5px;
}

.links li a{
    text-decoration: none;
    border-radius: 50%;
    color:white;
    padding: 10px;
}

/* Adding colors to Quick Links */

.links li a:hover{
    transition: 0.5s ease;
}

.links li:nth-child(1) a:hover{
    background-color:#3b5998;
   }

.links li:nth-child(2) a:hover{
     background-color:#e4405f;
   }

.links li:nth-child(3) a:hover{
     background-color:#070707;  
   }

.links li:nth-child(4) a:hover{
    background-color:#55acee;  
  }

 /* Responsive Design */

/* Max width 968px */
@media(max-width: 968px) {
    .logo-img{
        height: 80px;
        width: 150px;
    }
    .project{
        width: 70%;
    }
  }

  @media(max-width: 825px) {
    .project-text{
        line-height: 1.5rem;
    }
    
    .project-text h3{
        font-size:1.1rem;
    }

    .project-text p{
        font-size:0.9rem;
    }

    #btn-project{
        width: 60%;
        font-size: 0.9rem;
        padding:.4rem 1.6rem;
        margin: auto .4rem;
    }
  }

  @media(max-width: 625px){
    .project-text{
        line-height: 1.2rem;
    }
    
    .project-text h3{
        font-size:0.9rem;
        margin-bottom: 5px;
    }

    .project-text p{
        font-size:0.7rem;
        width: 90%;
        margin: auto;
    }

    #btn-project{
        width: 80%;
        font-size: 0.9rem;
        padding:.4rem 1.6rem;
        margin: auto .4rem;
    }
  }

  @media(max-width: 565px){

    .logo-img{
        height: 70px;
        width: 130px;
    }

    .navbar ul{
        display: flex;
        flex-direction: column;
    }

    .navbar ul li{
        padding: .4rem 0.9rem;
        margin-bottom: 10px;
    }

    .project-text{
        line-height: 1rem;
    }
    
    .project-text h3{
        font-size:0.8rem;
    }

    .project-text p{
        font-size:0.6rem;
        width: 90%;
        margin: auto;
    }

    #btn-project{
        width: 90%;
        font-size: 0.6rem;
        padding:.3rem 0.8rem;
        margin: auto .3rem;
    }
  }