/* Basic Styling */

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* Heading Part */

header{
    width: 100%;
    height: 16vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#1e88e5;
    border-bottom:.2rem solid #045daa;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 10vh;
}

.logo{
    background-color:#1877F2;
    border-radius: 50%;
    padding: .1rem 1.5rem;
    border: .2rem solid rgb(255, 255, 255);

}

.logo-text{
    font-family: 'Cedarville Cursive', cursive;
    font-weight: 100;
    font-size: 1.8rem;
    max-width:100%;
    letter-spacing: 1.5px;
    text-decoration: none;
    color:rgb(255, 255, 255);
}
.logo-text > a:visited{
    color:white;
}

.logo:hover{
    transition: 0.5s ease-in-out;
    background-color:#1C39BB;
}


.navbar{
    width: 15%;
    color:white;
}

.navbar ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar ul li{
    list-style: none;
    padding: .5rem 1rem;
    margin-left:.7rem;
    border: 2px solid white;
    border-radius: 10px;
    letter-spacing: 1px;
    background-color:#1877F2;
}

.navbar ul li:hover{
    transition: 0.5s ease-in;
    background-color: #03a9f4;
    cursor: pointer;
    border-radius: 0px;
}

.navbar ul li a{
    text-decoration: none;
    color:white;
}

/* Section Part */
.content{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    margin:auto;
    height:350vh;
    background-color: #EBF9FE;
}

/* PROJECTS SECTION */
#project{
    width: 80%;
    height: 350vh;
    margin: auto;
    padding: 1.1rem .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.project{
    width:85%;
    height: 28vh;
    background-color: #03a9f4;
    margin:auto;
    padding: .2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    line-height: 1.6rem;
    text-align: center;
}

#project-1,#project-2,#project-3,#project-4,#project-5,#project-6,#project-7,#project-8,#project-9,#project-10{
    color: white;
    letter-spacing: 1px
}

.project-text{
    line-height: 1.8rem;
}

.project-text h3{
    font-size:1.3rem;
}
.project-text p{
    font-size:1.1rem;
}

.project-btn{
    width: 80%;
    padding:.5rem;
    display: flex;
    justify-content: space-evenly;
}

#btn-project{
    background-color: transparent;
    border:2px solid white;
    border-radius: 5px;
    cursor: pointer;
    margin:auto;
    width: 40%;
    padding:5px;
    font-size: 1rem;
    color:white;
    text-align: center;
    text-decoration: none;
}

#btn-project:hover{
        transition: 1s ease;
        color:white;
        border:2px solid white;
        background-color: #03a9f4;
        cursor: pointer;
}

/* FOOTER PART */

#footer{
    width:100%;
    height:10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(0, 126, 229,0.8);
    bottom:0;
}

.footer-content{
    display: flex;
    width: 70%;
    justify-content: space-around;
    align-items: center;
}

.copyrights{
    font-weight: 900;
    font-size: 1.2rem;
    color:white;
    letter-spacing: 0.5px;
    font-family: 'Quicksand', sans-serif;
}

.links{
    display: flex;
    justify-items: center;
    align-items: center;
}

.links li{
    list-style: none;
    padding: 5px 5px;
}

.links li a{
    text-decoration: none;
    border-radius: 50%;
    color:white;
    padding: 10px;
}

 /*Adding colors to Quick Links */

.links li a:hover{
    transition: 0.5s ease;
}

.links li:nth-child(1) a:hover{
    background-color:#3b5998;
   }

.links li:nth-child(2) a:hover{
     background-color:#e4405f;
   }

.links li:nth-child(3) a:hover{
     background-color:#070707;  
   }

.links li:nth-child(4) a:hover{
    background-color:#55acee;  
  }

  /* Responsive Design */

/* Max width 968px */
@media(max-width: 968px) {
    .nav{
        width: 80%;
        justify-content: space-between;
        max-width: 100%;;
    }
    .navbar{
        width: 60%;
    }
    .about-section{
        flex-direction: column;
        align-items: center;
        height:120vh;
        justify-content: center;
    }
    #btn-project{
        width: 40%;
        font-size: 1.2rem;
        padding:.5rem;
        margin: auto .5rem;
    }
  }

/* Max width 750px */
@media(max-width: 750px) {
    .nav{
        width: 100%;
        justify-content: space-around;
        max-width:100%;
    }
    .navbar{
        width: 50%;
    }
    .project-btn{
        width: 80%;
        justify-content: space-around;
        margin:1rem auto;
    }

    #btn-project{
        width: 40%;
        font-size: 1.2rem;
        padding:.5rem;
        margin: auto .5rem;
    }
  }

/* Max width 500px */
@media(max-width: 500px) {
    .nav{
       width:100%;
       justify-content: space-around;
       max-width: 100%;
    }
    .logo{
        padding:.4rem;
    }
    .logo-text{
        font-size:.8rem;
    }
    .navbar{
        width:60%;
        font-size:.5rem;
    }
    /* content */
    .about-img .profile-img{
        width: 16rem;
        height: 18rem;
    }
    .about-text{
        display:flex;
        flex-direction: column;
        width: 80%;
    }
    .about-text .about-title{
        font-size: 1.20rem;
    }

    .about-description{
        font-size: .8rem;
    }
    .about-description-bg{
        font-size: .7rem;
    }
    .project-text{
        line-height: 1.1rem;
    }

    .project-text h3{
        font-size: .8rem;
    }
    .project-text p{
        font-size: .6rem;
    }
    .project-btn{
        width: 80%;
        display: flex;
        flex-direction: row;
    }

    #btn-project{
        width: 40%;
        font-size: .6rem;
        padding:.2rem;
        margin:.2rem auto;   
    }

    .blog-title{
        line-height: 1.1rem;
    }
    .blog-title h3{
        font-size: .8rem;
    }
    .blog-title p{
        font-size: .6rem;
    }
    /* Footer */
    .copyrights{
        font-size: .7rem;
    }
    .links li{
        list-style: none;
        padding: .2rem .2rem;
    }
}

/* Max width 300px */
@media(max-width: 380px){
    .nav{
        width: 100%;
    }
    .logo-text{
        font-size: .8rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navbar{
        width: 40%;
        align-items: flex-end;
        background-color: blanchedalmond;
    }
    .navbar ul{
        width: 100%;
    }
    .about-description{
        font-size: .7rem;
    }
    .about-description-bg{
        font-size: .5rem;
    }
    .project-btn{
        margin:.1rem auto;
    }
    .footer-content{
        width: 90%;
    }
    .copyrights{
        font-size: .7rem;
    }
}