/* Basic Styling */

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* Heading Part */

header{
    width: 100%;
    height: 16vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#1e88e5;
    border-bottom:.2rem solid #045daa;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 10vh;
}

.logo{
    background-color:#1877F2;
    border-radius: 50%;
    padding: .1rem 1.5rem;
    border: .2rem solid rgb(255, 255, 255);

}

.logo-text{
    font-family: 'Cedarville Cursive', cursive;
    font-weight: 100;
    font-size: 1.8rem;
    max-width:100%;
    letter-spacing: 1.5px;
    text-decoration: none;
    color:rgb(255, 255, 255);
}
.logo-text > a:visited{
    color:white;
}

/* If needed add transition on logo
.logo-text:hover{
    transition: 0.5s ease-in-out;
    color:rgb(255, 255, 255);
}
*/
.logo:hover{
    transition: 0.5s ease-in-out;
    background-color:#1C39BB;
}


.navbar{
    width: 40%;
    color:white;
}

.navbar ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar ul li{
    list-style: none;
    padding: .5rem 1rem;
    margin-left:.7rem;
    border: 2px solid white;
    border-radius: 10px;
    letter-spacing: 1px;
    background-color:#1877F2;
}

.navbar ul li:hover{
    transition: 0.5s ease-in;
    background-color: #03a9f4;
    cursor: pointer;
    border-radius: 0px;
}

.navbar ul li a{
    text-decoration: none;
    color:white;
}



/* Section Part */
.content{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    margin:auto;
    height:100vh;
    background-color: #EBF9FE;
}

/* ABOUT SECTION */
.about-section{
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.about-img .profile-img{
    margin-top: 15%;
    height: 22rem;
    width:25rem;
    border:2px solid black;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 50px;
    max-width: 100%;
}

.about-text{
    border:3px solid #B0E7FD;
    pointer-events: none;
    border-radius: 10px;
    padding: 1.5rem 1rem;
    text-align: left;
    margin-top: 30px;
    line-height: 1.3rem; 
}

.about-title{
    font-family: 'Courgette', cursive;
    font-weight:500;
    font-size:1.6rem;
    letter-spacing: 1.5px;
}

.about-description{
    font-family: 'Quicksand', sans-serif;
    font-weight:400;
    font-size:1.2rem;
    letter-spacing: .5px;
}

.about-description-bg{
    background-color: #8BDCF9;
    padding:3px 5px;
    border: 2px solid #0A91C2;
    border-radius:3px;
    font-weight:700;
    letter-spacing: 1px;
}

/* Bottom-Border between Sections */
.section-border-bottom{
    width:90%;
    height: 5px;
    background-color: black;
    margin: auto;
}

/* PROJECTS SECTION */

#project{
    width: 80%;
    height: 80vh;
    margin: auto;
    padding: 1.1rem .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    background-color:rgba(0,0,0,0.1);
}

.project{
    width:85%;
    height: 28vh;
    background-color: #03a9f4;
    margin:auto;
    padding: .2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    line-height: 1.6rem;
    text-align: center;
}

#project-1,#project-2{
    color: white;
    letter-spacing: 1px;
}

.project-text{
    line-height: 1.8rem;
}

.project-text h3{
    font-size:1.3rem;
}
.project-text p{
    font-size:1.1rem;
}

.project-btn{
    width: 80%;
    padding:.5rem;
    display: flex;
    justify-content: space-evenly;
}

#btn-project{
    background-color: transparent;
    border:2px solid white;
    border-radius: 5px;
    cursor: pointer;
    margin:auto;
    width: 40%;
    padding:5px;
    font-size: 1rem;
    color:white;
    text-align: center;
    text-decoration: none;
}

#btn-project:hover{
        transition: 1s ease;
        color:white;
        border:2px solid white;
        background-color: #03a9f4;
        cursor: pointer;
}

.view-all-projects{
    width:60%;
    margin:10px;
    padding:5px;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    background-color: transparent;
    font-weight: 700;
    border:2px solid #03a9f4;
    color:black;
}
.view-all-projects:hover{
    transition: 1s ease;
    color:white;
    border:2px solid white;
    background-color: #03a9f4;
    cursor: pointer;
}

.projects-link{
    color:black;
    text-decoration: none;
}
/*.projects-link:hover{
    transition: 1s ease;
    color:white;
}
*/
/* BLOGS SECTION */
#blog{
    width: 80%;
    height: 80vh;
    margin: auto;
    padding: 1.1rem .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    background-color:rgba(0,0,0,0.1);
}

.blogs{
    width:85%;
    height: 28vh;
    background-color: #03a9f4;
    margin:auto;
    padding: .2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    line-height: 1.6rem;
    text-align: center;
    text-decoration:none;
}
.blogs:hover{
    transition: 1s ease;
    color:white;
    border:2px solid white;
    background-color: #03a9f4;
    cursor: pointer;
}

#blog-1,#blog-2{
    color: white;
    letter-spacing: 1px;
}

.blogs a,.blogs a:visited{
    color:black;
}

.blog-title{
    font-size:1.2rem;
    line-height: 2.4rem;
    text-decoration: none;
    text-align: center;
    color:#fff;
    width: 60%;
    padding:10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
}


.read-all-blogs{
    width:60%;
    margin:10px;
    padding:5px;
    border-radius: 10px;
    background-color: transparent;
    font-weight: 700;
    border:2px solid #03a9f4;
    color:black;
    text-decoration: none;
    text-align: center;
}
.read-all-blogs:hover{
    transition: 1s ease;
    color:white;
    border:2px solid white;
    background-color: #03a9f4;
    cursor: pointer;
}


/* FOOTER PART */

#footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:100%;
    height: 10vh;
    background-color: rgb(0, 126, 229,0.8);
}

.copyrights{
    font-weight: 900;
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
    color:white;
    letter-spacing: 0.5px;
}

.links{
    display: flex;
    justify-items: center;
    align-items: center;
}

.links li{
    list-style: none;
    padding: 10px 10px;
}

.links li a{
    text-decoration: none;
    border-radius: 50%;
    color:white;
    padding: 10px;
}

/* Adding colors to Quick Links */

.links li a:hover{
    transition: 0.5s ease;
}

.links li:nth-child(1) a:hover{
    background-color:#3b5998;
   }

.links li:nth-child(2) a:hover{
     background-color:#e4405f;
   }

.links li:nth-child(3) a:hover{
     background-color:#070707;  
   }

.links li:nth-child(4) a:hover{
    background-color:#55acee;  
  }


/* Responsive Design */

@media(max-width: 750px) {
    .nav{
        width: 90%;
        max-width:100%;
    }
  }
@media(max-width: 968px) {
    .nav{
        width: 80%;
        justify-content: space-between;
        max-width: 100%;;
    }
    .about-section{
        flex-direction: column;
        align-items: center;
        height:120vh;
        justify-content: center;
    }
  }
@media(max-width: 550px) {
    .nav{
       width:90%;
       justify-content: space-around;
        max-width: 100%;
    }
    .logo{
        padding:.4rem;
    }
    .logo-text{
        font-size:1rem;
    }
    .navbar{
        display:flex;
        flex-direction: row;
        width:65%;
        font-size:.6rem;
    }
    .about-img .profile-img{
        width: 16rem;
        height: 18rem;
    }
    .about-text{
        display:flex;
        flex-direction: column;
        width: 80%;
    }
    .about-text .about-title{
        font-size: 1.22rem;
    }

    .about-description{
        font-size: .88rem;
    }
    .copyrights{
        font-size: .3;
    }
    .links li{
        list-style: none;
        padding: .2rem .2rem;
    }
}