/* Basic Styling */

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* Heading Part */

header{
    width: 100%;
    height: 14vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#1e88e5;
    border-bottom:2px solid #045daa;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 8vh;
}

.logo{
    background-color:#1877F2;
    border-radius: 50%;
    padding: 5px 15px;
    border: 3px solid rgb(255, 255, 255);
}

.logo-text{
    font-family: 'Cedarville Cursive', cursive;
    font-weight: 100;
    font-size: 30px;
    letter-spacing: 1.5px;
    text-decoration: none;
    color:rgb(255, 255, 255);
}

/* If needed add transition on logo
.logo-text:hover{
    transition: 0.5s ease-in-out;
    color:rgb(255, 255, 255);
}
*/
.logo:hover{
    transition: 0.5s ease-in-out;
    background-color:#1C39BB;
}


.navbar{
    width: 40%;
    color:white;
}

.navbar ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar ul li{
    list-style: none;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 10px;
    letter-spacing: 1px;
    background-color:#1877F2;
}

.navbar ul li:hover{
    transition: 0.5s ease-in;
    background-color: #03a9f4;
    cursor: pointer;
    border-radius: 0px;
}

.navbar ul li a{
    text-decoration: none;
    color:white;
}



/* Section Part */
.content{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    margin:auto;
    height:100vh;
    background-color: #EBF9FE;
}

/* ABOUT SECTION */
.about-section{
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.about-img img{
    margin-top: 15%;
    height: 400px;
    width:500px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 50px;
}

.about-text{
    border:3px solid #B0E7FD;
    pointer-events: none;
    text-emphasis: none;
    border-radius: 10px;
    padding: 20px 30px;
    text-align: left;
    margin-top: 30px;
    line-height: 1.3rem; 
}

.about-title{
    font-family: 'Courgette', cursive;
    font-weight:500;
    font-size:26px;
    letter-spacing: 1.5px;
}

.about-description{
    font-family: 'Quicksand', sans-serif;
    font-weight:400;
    font-size:22px;
    letter-spacing: .5px;
}

.about-description-bg{
    background-color: #8BDCF9;
    padding:3px 5px;
    border: 2px solid #0A91C2;
    border-radius:3px;
    font-weight:700;
    letter-spacing: 1px;
}

/* PROJECTS SECTION */


/* FOOTER PART */

#footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:100%;
    height: 10vh;
    background-color: rgb(0, 126, 229,0.8);
}

.copyrights{
    font-weight: 900;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color:white;
    letter-spacing: 0.5px;
}

.links{
    display: flex;
    justify-items: center;
    align-items: center;
}

.links li{
    list-style: none;
    padding: 10px 10px;

}

.links li a{
    text-decoration: none;
    border-radius: 50%;
    color:white;
    padding: 10px;
}

/* Adding colors to Quick Links */

.links li a:hover{
    transition: 0.5s ease;
}

.links li:nth-child(1) a:hover{
    background-color:#3b5998;
   }

.links li:nth-child(2) a:hover{
     background-color:#e4405f;
   }

.links li:nth-child(3) a:hover{
     background-color:#070707;  
   }

.links li:nth-child(4) a:hover{
    background-color:#55acee;  
  }


/* Responsive Design */
/*
@media(max-width: 1090px) {
    nav{
       width:100%;
       justify-content: space-around;
    }
  }
@media(max-width: 950px) {
    nav{
       width:100%;
       justify-content: space-between;
    }
}
*/