/* Basic Styling */

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

/* Heading Part */

.header{
    width: 100%;
    height: 16vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#1e88e5;
    border-bottom:.2rem solid #045daa;
}


.headerDark{
    /*background-color: black;*/
    border-bottom:.2rem solid white;
}

/* NAVBAR */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 10vh;
}

.logo{
    background-color:#1877F2;
    border-radius: 50%;
    padding: .1rem 1.5rem;
    border: .2rem solid rgb(255, 255, 255);
}

.logo-text{
    font-family: 'Cedarville Cursive', cursive;
    font-weight: 100;
    font-size: 1.8rem;
    max-width:100%;
    letter-spacing: 1.5px;
    text-decoration: none;
    color:rgb(255, 255, 255);
}
.logo-text > a:visited{
    color:white;
}

/* If needed add transition on logo
.logo-text:hover{
    transition: 0.5s ease-in-out;
    color:rgb(255, 255, 255);
}
*/
.logo:hover{
    transition: 0.5s ease-in-out;
    background-color:#1C39BB;
}


.navbar{
    width: 50%;
    color:white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar .ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
}

.navbar .ul .links{
    list-style: none;
}

.navbar .ul .links .link{
    text-decoration: none;
    color:white;
    background-color: transparent;
    padding: .5rem 1rem;
    border: 2px solid white;
    border-radius: 10px;
    letter-spacing: 1px;
    cursor: pointer;
}

.navbar .ul .links .link:hover{
    border-radius: 0px;
    transition: 0.5s ease-in;
    background-color:#1877F2;
}

/* NAVBAR - Theme Changer */
.theme_changer{
    width: 50px;
}

.label{
    width: 54px;
    height: 28px;
    padding: 5px;
    background-color: black;
    border-radius:50px;
    position:relative;
    display:flex;
    align-items: center;
    justify-content: space-between;
    border:2px solid white;
    cursor:pointer;
  }

  .moon{
    color:white;
  }
  
  .sun{
    color:yellow;
  }

  .ball{
    width: 22px;
    height: 22px;
    top:1px;
    left:2px;
    background-color: white;
    position:absolute;
    border-radius:50%;
    z-index:3;
    transition: transform .2s linear;
  }

  .checkbox{
    opacity:0;
    position:absolute;
  }

  .checkbox:checked + .label .ball{
    transform: translateX(24px);
  }

/* Section Part */
.content{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    margin:auto;
    height:100vh;
    background-color: #EBF9FE;
}
.contentDark{
    background-color: #222222;
}

/* ABOUT SECTION */
.about-section{
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.profileImg{
    margin-top: 15%;
    height: 22rem;
    width:25rem;
    border:2px solid black;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 50px;
    max-width: 100%;
}
.profileImgDark{
    border:2px solid white;
}

.about-text{
    border:3px solid #B0E7FD;
    pointer-events: none;
    border-radius: 10px;
    padding: 1.5rem 1rem;
    text-align: left;
    margin-top: 30px;
    line-height: 1.3rem; 
}

.about-title{
    font-family: 'Courgette', cursive;
    font-weight:500;
    font-size:1.6rem;
    letter-spacing: 1.5px;
}
.aboutTitleDark{
    color:white;
}

.about-description{
    font-family: 'Quicksand', sans-serif;
    font-weight:400;
    font-size:1.2rem;
    letter-spacing: .5px;
}
.aboutDescriptionDark{
    color:white;
}

.about-description-bg{
    background-color: #8BDCF9;
    padding:3px 5px;
    border: 2px solid #0A91C2;
    border-radius:3px;
    font-weight:700;
    letter-spacing: 1px;
}

/* Bottom-Border between Sections */
.sectionBorderBottom{
    width:90%;
    height: 5px;
    background-color: black;
    margin: auto;
}
.sectionBorderBbottomDark{
    background-color: white;
}

/* PROJECTS SECTION */

.project{
    width: 80%;
    height: 80vh;
    margin: auto;
    padding: 1.1rem .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    background-color:rgba(0,0,0,0.1);
}
.projectDark{
    background-color:rgba(255,255,255,0.1);
}

.projects{
    width:85%;
    height: 28vh;
    background-color: #03a9f4;
    margin:auto;
    padding: .2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    line-height: 1.6rem;
    text-align: center;
}

#project-1,#project-2{
    color: white;
    letter-spacing: 1px;
}

.project-text{
    line-height: 1.8rem;
    font-family: 'Roboto', sans-serif;
}

.project-text h3{
    font-size:1.3rem;
}
.project-text p{
    font-size:1.1rem;
}
/*
.project-btn{
    width: 80%;
    padding:.5rem;
    display: flex;
    justify-content: space-evenly;
}
*/
#btn-project{
    background-color: transparent;
    border:2px solid white;
    border-radius: 5px;
    cursor: pointer;
    margin:auto .5rem;
    width: 40%;
    padding:.5rem 2rem;
    font-size: 1rem;
    color:white;
    text-align: center;
    text-decoration: none;
}

#btn-project:hover{
        transition: 1s ease;
        color:white;
        border:2px solid white;
        background-color: #1877F2;
        cursor: pointer;
        border-radius:0px;
}

.viewAllProjects, .viewAllBlogs{
    width:60%;
    margin:10px;
    font-family: 'Roboto', sans-serif;
    padding:5px;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    background-color: transparent;
    font-weight: 700;
    border:2px solid #03a9f4;
    color:black;
}
.viewAllProjectsDark, .viewAllBlogsDark{
    color:white;
}
.viewAllProjects:hover, .viewAllProjectsDark:hover, 
.viewAllBlogs:hover, .viewAllBlogsDark:hover{
    transition: 1s ease;
    color:white;
    border:2px solid white;
    background-color: #03a9f4;
    cursor: pointer;
    border-radius: 0px;
}


.projects-link{
    color:black;
    text-decoration: none;
}
/*.projects-link:hover{
    transition: 1s ease;
    color:white;
}
*/
/* BLOGS SECTION */
.blog{
    width: 80%;
    height: 80vh;
    margin: auto;
    padding: 1.1rem .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    background-color:rgba(0,0,0,0.1);
}

.blogDark{
    background-color:rgba(255,255,255,0.1);
}

.blogs{
    width:85%;
    height: 28vh;
    background-color: #03a9f4;
    margin:auto;
    padding: .2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    line-height: 1.4rem;
    text-align: center;
    text-decoration:none;
}
.blogs:hover{
    transition: 1s ease;
    color:white;
    border:2px solid white;
    background-color: #03a9f4;
    cursor: pointer;
}

#blog-1,#blog-2{
    color: white;
    letter-spacing: 1px;
}

.blogs a,.blogs a:visited{
    color:black;
}

.blog-title{
    font-size:1.2rem;
    font-family: 'Roboto', sans-serif;
    line-height: 2.4rem;
    text-decoration: none;
    text-align: center;
    color:#fff;
    width: 90%;
    padding:10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
}

/*
.read-all-blogs{
    width:60%;
    margin:10px;
    padding:5px;
    border-radius: 10px;
    background-color: transparent;
    font-weight: 700;
    border:2px solid #03a9f4;
    color:black;
    text-decoration: none;
    text-align: center;
}
.read-all-blogs:hover{
    transition: 1s ease;
    color:white;
    border:2px solid white;
    background-color: #03a9f4;
    cursor: pointer;
}
*/

/* FOOTER PART */

#footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:100%;
    height: 10vh;
    background-color: rgb(0, 126, 229,0.8);
}
.footer-content{
    display: flex;
    width: 80%;
    justify-content: space-around;
    align-items: center;
}

.copyrights{
    font-weight: 900;
    font-size: 1.2rem;
    color:white;
    letter-spacing: 0.5px;
    font-family: 'Quicksand', sans-serif;
}

.links{
    display: flex;
    justify-items: center;
    align-items: center;
}

.links li{
    list-style: none;
    padding: 5px 5px;
}

.links li a{
    text-decoration: none;
    border-radius: 50%;
    color:white;
    padding: 10px;
}

/* Adding colors to Quick Links */

.links li a:hover{
    transition: 0.5s ease;
}

.links li:nth-child(1) a:hover{
    background-color:#3b5998;
   }

.links li:nth-child(2) a:hover{
     background-color:#e4405f;
   }

.links li:nth-child(3) a:hover{
     background-color:#070707;  
   }

.links li:nth-child(4) a:hover{
    background-color:#55acee;  
  }


/* Responsive Design */

/* Max width 968px */
@media(max-width: 968px) {
    .nav{
        width: 80%;
        justify-content: space-between;
        max-width: 100%;;
    }
    .navbar{
        width: 60%;
    }
    .about-section{
        flex-direction: column;
        align-items: center;
        height:120vh;
        justify-content: center;
    }
    #btn-project{
        width: 40%;
        font-size: 1.2rem;
        padding:.5rem;
        margin: auto .5rem;
    }
  }

/* Max width 750px */
@media(max-width: 750px) {
    .nav{
        width: 100%;
        justify-content: space-around;
        max-width:100%;
    }
    .navbar{
        width: 50%;
    }
    .project-btn{
        width: 80%;
        justify-content: space-around;
        margin:1rem auto;
    }

    #btn-project{
        width: 40%;
        font-size: 1.2rem;
        padding:.5rem;
        margin: auto .5rem;
    }
  }

/* Max width 500px */
@media(max-width: 500px) {
    .nav{
       width:100%;
       justify-content: space-around;
       max-width: 100%;
    }
    .logo{
        padding:.4rem;
    }
    .logo-text{
        font-size:.8rem;
    }
    .navbar{
        width:60%;
        font-size:.5rem;
    }
    /* content */
    .about-img .profile-img{
        width: 16rem;
        height: 18rem;
    }
    .about-text{
        display:flex;
        flex-direction: column;
        width: 80%;
    }
    .about-text .about-title{
        font-size: 1.20rem;
    }

    .about-description{
        font-size: .8rem;
    }
    .about-description-bg{
        font-size: .7rem;
    }
    .project-text{
        line-height: 1.1rem;
    }

    .project-text h3{
        font-size: .8rem;
    }
    .project-text p{
        font-size: .6rem;
    }
    .project-btn{
        width: 80%;
        display: flex;
        flex-direction: row;
    }

    #btn-project{
        width: 40%;
        font-size: .6rem;
        padding:.2rem;
        margin:.2rem auto;   
    }

    .blog-title{
        line-height: 1.1rem;
    }
    .blog-title h3{
        font-size: .8rem;
    }
    .blog-title p{
        font-size: .6rem;
    }
    /* Footer */
    .copyrights{
        font-size: .7rem;
    }
    .links li{
        list-style: none;
        padding: .2rem .2rem;
    }
}

/* Max width 300px */
@media(max-width: 380px){
    .nav{
        width: 100%;
    }
    .logo-text{
        font-size: .7rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navbar{
        width: 70%;
    }
    .navbar ul{
        width: 100%;
    }
    .about-description{
        font-size: .7rem;
    }
    .about-description-bg{
        font-size: .5rem;
    }
    .project-btn{
        margin:.1rem auto;
    }
    .copyrights{
        font-size: .6rem;
    }
}